<body>
    <%= link_to "Users", users_users_path%>
    <%= link_to "Trip Transactions", users_trip_transactions_path%>
    <%= link_to "Balance Loads", users_balance_loads_path%>
    <%= link_to "History Loads", users_history_loads_path%>
 	<%= link_to "Logout", root_path%>
    <%= yield %>
  </body>