<!DOCTYPE html>
<html>
  <head>
    <title>OjtProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <!--    <%= link_to "Users", users_users_path%>
    <%= link_to "Trip Transactions", users_trip_transaction_path%>
    <%= link_to "Balance Loads", users_balance_loads_path%>
    <%= link_to "History Loads", users_history_loads_path%> -->
    <%= yield %>
  </body>
</html>
